.footer {
    background-color: var(--color-default); 
    color: #fff;
    padding: 1rem 2rem;
    height: 10rem;
    display: flex;
    justify-content: start;
    align-items: center;

    p {
        margin: 0;
        font-size: var(--font-size-extra-small);
    }

    .linkedin-link {
        color: #4DC5AC; 
        text-decoration: none;
    }

    .icon {
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1); 
        }
    }
}