.card__wrap {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem; 

  .card {
    height: 100px; 
    width: 90%; 
    border-radius: 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--border-primary);

    .card-image-container {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        height: 2.8rem; 
        object-fit: contain;
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h2 {
        font-size: var(--font-size-normal);
        color: white;
      }

      p {
        font-size: var(--font-size-small); 
        color: var(--text-primary);
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .card__wrap {
    flex-direction: column;
    gap: 2.5rem;
  }

  .card {
    height: 110px;
    width: 280px;
    border-radius: 1.25rem;

    .card-image-container {
      img {
        height: 3.2rem;
      }
    }

    .card-content {
      h2 {
        font-size: 1.15rem;
      }

      p {
        font-size: var(--font-size-small);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .card__wrap {
    flex-direction: row;
    gap: 3rem;
  }

  .card {
    height: 120px;
    width: 318px;
    border-radius: 1.5rem;

    .card-image-container {
      img {
        height: 3.4rem;
      }
    }

    .card-content {
      h2 {
        font-size: 1.25rem;
      }

      p {
        font-size: var(--font-size-small);
      }
    }
  }
}
