.navbar {
  height: 55px;
  border-bottom: 1px solid var(--border-primary);
  width: 100%;

  

  &__int {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 100%;
    width: 100%;
    
    
}

  &__logo a{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
  }

  &__links {
    list-style: none;
    display: flex;
    font-size: var(--font-size-small);
    font-weight: 400;
    gap: 1.5rem;

    li {
      a {
        color: var(--text-primary);
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: var(--text-secondary);
        }
      }
    }
  }
}
