.hero__wrap {
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hero__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;

    .hero__title {     

      h1 {
        font-size: var(--font-size-large);
        font-weight: 700;
        color: white;
      }
    }

    .hero__description {
      width: 100%;
      p {
        font-size:var(--font-size-small);
        color: var(--text-primary);
      }
    }

    .hero__button {
      width: 100%;
      margin-top: 1rem;
      
     
      }
    }
  }

  .hero__imagewrap {
    width: 50%;
    
  

    div {
      height:30rem;
      width: 100%;
      display: flex;
      justify-content: end;
    }
  }

