.btn {
    padding: 0.8em 1.7em;
    background: none;
    border: 1px solid #fff;
    font-size: var(--font-size-normal);
    color: var(--text-secondary);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 14px;
    background-color: #000;
    font-weight: var(--font-weight-medium);
    box-shadow: 0 2px 0 2px #000;
   }
   
   .btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #4DC5AC;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .btn:hover {
    background-color: #000;
    color: #fff;
    
   }
   
   .btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .btn:active {
    transform: scale(0.9);
   }