.suscription-container {
    position: relative;
    width: 100%;
    height: 90rem;
    background-color: #00000000;
    background-image: radial-gradient(circle at center, rgba(59, 218, 178, 0.09), rgba(255, 255, 255, 0.01) 50%);
    mask-image: linear-gradient(transparent, rgb(0, 0, 0) 0px, rgb(0, 0, 0) calc(100% - 80px), transparent);

    
}


#suscripcion {
    display: flex;
    flex-direction: column;
    width: 100%;


}

.grilla {
    display: flex;
    width: 100%;
    z-index: 1;
    position: absolute;
    height: 100%;

    background-image: linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
        linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);
    background-size: 14px 24px;
    mask-image: radial-gradient(ellipse 75% 100% at 50% 0%,
            #000000 50%,
            transparent 100%);
}

.otromas{
    display: flex;
    z-index: 20;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    
}

@media (min-width: 768px) and (max-width: 1100px) {
    .otromas {
        margin-top: 50px; 
        }
}

@media (min-width: 1100px) and (max-width: 1400px) {
    .otromas {
        margin-top: 50px;
    }
}

.Multistep {
    width: 100%;
}

.Form {
    width: 100%;
  

}


@media (min-width: 768px) {

  .suscription-container{
    padding-top: 4rem;
    height:60rem;
  }




    .otromas{
       
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }



    .Multistep{
        width: 50%;
    }

    .Form{
        width: 50%;
    }
}

