// MultiStepLoader.scss
.loader-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 17rem;
 
}

.loader-step {
  
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  
}

.loader-check-icon {
  color: black;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.loader-text {
  color: black;
  display: flex;
  gap: 1rem;
 

  @media (prefers-color-scheme: dark) {
    color: white;
  }

  
}

.loader-overlay {
  width: 100%;
  height: 100%;
 
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
}

.loader-background {
  height: 17rem;
  position: relative;
  
}




.icon {
  width: 20px;
  height: 20px;
  stroke-width: 1.5;
  
}

.check-icon {
  color: var(--default-color); /* Gris por defecto */
}

.check-filled {
  color: white; /* Verde para íconos llenos */
}

.check-filled.active {
  color: var(--second-color); /* Azul activo */
}

.loader-core {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}



.loader-text {
  display: flex;
  align-items: center;
  margin: 16px 0;
  opacity: 0.8;
  transition: opacity 0.4s ease;
}

.text {
 
  font-size: var(--font-size-small);
  opacity: 0.8;
}

.text.active {
  
  opacity: 1;
}

.multi-step-loader {
  position: relative;
  padding: 20px;
}


