.BG {
  background-image: url("/esfera-form.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  height: 70rem;
  mask-image: linear-gradient(0deg, transparent, rgb(0, 0, 0) 250px, rgb(0, 0, 0) calc(100% - 100px), transparent);

  @media (min-width: 1024px) {
    padding-top: 13rem;
    padding-bottom: 18.4375rem;
  }
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
  color: aquamarine;
  gap: 1rem;
}

.gradient-text {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.027) 5%,
    rgba(255, 255, 255, 1) 45%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    font-size: var(--font-size-large);
}

.gracias {
  font-size: var(--font-size-normal);
}
.sub-title-text {

  font-size: 2rem;
  margin-bottom: 1.6rem;
  text-align: center;
  width: 45%;
  color: white;

  @media (min-width: 1024px) {
    margin-bottom: 4rem;
  }
}

.title-text {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.267) 5%,
    rgba(255, 255, 255, 1) 45%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 10rem;

  @media (min-width: 1024px) {
    font-size: 7rem;
    font-weight: 300;
    margin-bottom: 6rem;
  }
}

.input-group {
  display: flex;
  
}
