.BG {
  background-image: url("/esfera-form.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  height: auto;
  padding: 1rem;
  mask-image: linear-gradient(0deg, transparent, rgb(0, 0, 0) 30px, rgb(0, 0, 0) calc(100% - 20px), transparent);
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  color: aquamarine;
  gap: 1.2rem;
}

.gradient-text {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.027) 5%,
    rgba(255, 255, 255, 1) 45%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
 
}



.sub-title-text {
  font-size: var(--font-size-extra-small);
  margin-bottom: 1.6rem;
  text-align: center;
  width: 70%;
  color: white;
}

.title-text {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.267) 5%,
    rgba(255, 255, 255, 1) 45%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 3rem;
  font-size: var(--font-size-large);
}


@media screen and (min-width: 768px) and (max-width: 1099px) {
  .BG {
    margin-top: 3rem;
    height: 47rem;
    background-size: cover;
    mask-image: linear-gradient(0deg, transparent, rgb(0, 0, 0) 150px, rgb(0, 0, 0) calc(100% - 100px), transparent);
  }

  #info {
    padding: 1.5rem;
  }

  .gradient-text {
    font-size: var(--font-size-medium);
  }

  .gracias {
    font-size: var(--font-size-small);
  }

  .sub-title-text {
    font-size: 1.5rem;
    width: 65%;
  }

  .title-text {
    margin-bottom: 6rem;
    font-weight: var(--font-weight-small);
    font-size: 60px;
  }

  .input-group {
    flex-direction: column;
    gap: 1rem;
  }
}
@media screen and (min-width: 1100px) {
  .BG {
    margin-top: 10rem;
    background-size: contain;
    height: 60rem;
    mask-image: linear-gradient(0deg, transparent, rgb(0, 0, 0) 250px, rgb(0, 0, 0) calc(100% - 100px), transparent);
    
  }

  #info {
    gap: 1.5rem;
  }

  

 
  .sub-title-text {
    font-size:var(--font-size-medium);
    width: 45%;
  }

  .title-text {
    margin-bottom: 6rem;
    font-weight: var(--font-weight-small);
    font-size: 70px;
  }

 
}
